{{!-- Navbar --}}
<nav class="zindex-sticky navbar nav-pills text-black navbarcolor navbar-dark">
  <div class="container-fluid navbarcolor">
    <a class=" text-dark navbar-brand fw-bold" href="/">Viviendo-App</a>
    <div> <img class="img-fluid" src="/images/Logo.appViv.png" alt="LogoInm"> </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse dark navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li> --}}
        <li class="nav-item">
          <a class="text-dark nav-link" href="/inmuebles">Inmuebles disponiles</a>
        </li>
        <li class="nav-item">
          <a class="text-dark nav-link" href="/contacto">Contacto</a>
        </li>
        <li>
          <a class="text-dark nav-link" href="/nuevo-producto">Carga Inmueble</a>
        </li>
        </ul>
    </div>
  </div>
</nav>