
<footer class="container-fluid footcolor">
    <p class="text-center">&copy;{{year}} Todos los Derechos reservados</p>
    <span class="text-end textoagregado text-dark"> Para más informacion, escribinos a appvivienda@gmail.com</span>>
 
</footer>